.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #AfAfAf;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #7986CB ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
i{
	color:#000;
	padding:5px;
	font-size:16px;
}
i:hover {
	color:blue;
}
/* .navbar-default{
    background-color: #2f3ba2;
}
.navbar{
    background-color: #2f3ba2;
}
.nav{
    background-color: #2f3ba2;
}
.navbar-header {
    background-color: #2f3ba2;
}
.navbar-collapse {
    background-color: #2f3ba2;
}
.collapse {
        background-color: #2f3ba2;
}
.dropdown-menu {
    background-color: #2f3ba2;
}
.activ {
    background-color: #2f3ba2;
}
.navbar-fixed-top{
    background-color: #2f3ba2;
}
.navbar-toggle{
    background-color: #2f3ba2;
}
.navar-default::after{
    background-color: #2f3ba2;
}
.navar-default::efter{
    background-color: #2f3ba2;
} */
.navbar-custom {
    background-color: #2f3ba2;
    border-color: #2f3ba2;
    border-radius: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
    color: #FFF;
}

.navbar-custom .navbar-nav > li > a {
    color: #FFF;
}
.dropdown-menu{
    background-color: #2f3ba2;
    color:#FFF;
}
.dropdown-menu > li > a:focus {
    background-color: #2f3ba2;
}

.dropdown-menu > li > a {
    color: #FFF;
}
.dropdown-header{
    color:#000000;
    font-size: 16px;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
    background-color: ##f5f5f5;
    color:#000000;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #000000;
    background-color: #ccc;
}

.navbar-custom .navbar-text {
    color: #FFF;
}

.navbar-custom .navbar-toggle {
    border-color: #2f3ba2;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #ccc;
    color: #000000;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #FFF;
}